
@{
    ViewData["Title"] = "Мониторинг";
}


@if (SignInManager.IsSignedIn(User))
{
    <h2 class="text-center">@ViewData["Title"]</h2>
    if (User.Identity.Name == "Andruxakonst@yandex.ru")
    {
        <p>Привет Андрей!</p>
    }
    else
    {
        <p>Вы вошли как - @User.Identity.Name!</p>
    }


<div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        <span data-feather="home"></span>
                        Ваши объекты <span class="sr-only">(current)</span>
                    </a>
                </li>
                @for (int objNum = 1; objNum < 6; objNum++)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Объект № @objNum
                        </a>
                    </li>
                }



            </ul>
        </div>
    </nav>


    <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4 d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-top">
        <div class="table-responsive">



            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h3 class="h3">Настройки графика</h3>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                        <input class="form-control" type="week" value="2011-W33" id="example-week-input">
                        <input class="form-control" type="month" value="2011-08" id="example-month-input">
                        <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                        <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input2">

                    </div>

                </div>
            </div>
            <a class="btn btn-sm btn-outline-secondary" id="VivodGraf">Вывод графиков</a>
            <div id="articleContent"></div>


            

            <canvas class="my-4 chartjs-render-monitor" id="myChart" width="1538" height="649" style="display: block; width: 1538px; height: 649px;"></canvas>


        </div>
    </div>
</div>

    @*Ненавязивый JavaScript для выполнения запроса на сервер без полного обновления страницы*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/Chart.min.js"></script>

    <script>
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["10:00", "10:30", "11:00", "11:30", "12:00", "12:30", "13:00", "13:30", "14:00", "14:30", "15:00", "15:30"],
                datasets: [{
                    data: [25, 28, 40, 39, 38, 36, 32, 28, 25, 26, 25, 26],
                    lineTension: 0,
                    backgroundColor: 'transparent',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff'
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                },
                legend: {
                    display: false,
                }
            }
        });
    </script>

}
