@model IEnumerable<LK.Models.Data> // Подключаем модель, в которую контроллер занисал данные из БД

@{
    ViewData["Title"] = "Test_JQuary_Conection";
}
<table class="table" id="message">
    <tr id="dat_table"><td>item.Id</td><td>item.objName</td><td>item.datType</td><td>item.value</td><td>item.datMin</td><td>item.datMax</td></tr>

</table>





<script type="text/javascript">

    $.ajax({
        url: "/Data/GetDatas",
        dataType: "JSON", // Для использования JSON формата получаемых данных
        method: "POST", // Что бы воспользоваться POST методом, меняем данную строку на POST
        success: function (data) {
            //alert(data.length);
            for (var i = 1; i < data.length -1; i++) {
                
                $("#message").append($('<tr id="row_' + i + '"><td id="Id_' + i + '">N/A</td><td id="objName_' + i + '">N/A</td><td id="datType_' + i + '">N/A</td><td id="value_' + i + '">N/A</td><td id="datMin_' + i + '">N/A</td><td id="datMax_' + i + '">N/A</td></tr>'));
            }
            setInterval(function () {
                $.ajax({
                    url: "/Data/GetDatas",
                    dataType: "JSON", // Для использования JSON формата получаемых данных
                    method: "POST", // Что бы воспользоваться POST методом, меняем данную строку на POST
                    success: function (data) {
                        for (var key in data) {
                                var item = data[key];
                            let j = Number(key) + 1;
                        
                            //console.log("key - " + key + " j- " + j + " item.id - " + item.id + "#Id_ + j =" + '#Id_' + j);
                            $("#Id_" + j).text(item.id);
                            $("#objName_" + j).text(item.objName);
                            $("#datType_" + j).text(item.datType);
                            $("#value_" + j).text(item.value);
                            $("#datMin_" + j).text(item.datMin);
                            $("#datMax_" + j).text(item.datMax);
                   
                        }
                    }
                });

            }, 1000); // 10000 м.сек или 10 секунд
                        
        }
    });



    

</script>